table, th, td {
    border: 2px solid black; 
}
body {
    background-color: #9dd79d;
    color:  #666666;
}


/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2022. gada 31. marts, 23:07:12
    Author     : evagrauda
*/

